body {
/*
    background-image: url("../images/United_States_Capitol_-_west_front.jpg");
    background-image: url("../images/6791202359_2c3a13495e_o.jpg");
    background-image: url("../images/US_Capitol_west_side.jpg");
        background-size: 100% 100%;
        height: 100%;
*/
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2) ), url(../images/United_States_Capitol_-_west_front.jpg);
    background-size: cover;
/*
    position: relative;
    float: left;
*/
    width: 100%;
    height: 100vh;
    min-height: 100%;
    min-height: 100vh;
/*    display: flex;*/

    background-repeat: no-repeat;
    
}